<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yocn.com.collection">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"
            android:label="@string/app_name"/>
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ChartViewAct"
            android:theme="@style/Transparent"
            android:label="@string/app_name"/>
        <activity
            android:name=".BarChartViewAct"
            android:theme="@style/Transparent"
            android:label="@string/app_name"/>
        <activity
            android:name=".RippleViewActivity"
            android:theme="@style/Transparent"
            android:label="@string/app_name"/>
        <activity
            android:name=".ParabolaViewAct"
            android:theme="@style/Transparent"
            android:label="@string/app_name"/>
        <activity
            android:name=".PathActivity"
            android:theme="@style/Transparent"
            android:label="@string/app_name"/>
        <activity
            android:name=".RecycleViewAct"
            android:theme="@style/Transparent"
            android:label="@string/app_name"/>
        <activity
            android:name=".SettingAct"
            android:theme="@style/Transparent"
            android:label="@string/app_name"/>
    </application>


</manifest>
